{% extends 'layout_login.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">
                <h4>Login</h4></div>
            <div class="card-body">

                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form role="form" action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input class="form-control" type="text" aria-describedby="emailHelp"
                               placeholder="Username" id="username" name="_username" value="{{ last_username }}"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input class="form-control" id="exampleInputPassword1" type="password"
                               placeholder="Password" name="_password"/>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox"
                                       id="remember_me" name="_remember_me"/> Remember me</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                {#<div class="text-center">#}
                {#<a class="d-block small mt-3" href="register.html">Register an Account</a>#}
                {#<a class="d-block small" href="forgot-password.html">Forgot Password?</a>#}
                {#</div>#}
            </div>
        </div>
    </div>
{% endblock %}