{% extends 'layout_admin.html.twig' %}

{% block title %}
    {{ entity_name }} :: admin
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fa fa-dashboard"></i> <a href="{{ path('admin_dashboard') }}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
        <i class="fa fa-table"></i> {{ entity_name }}
    </li>
</ol>
{% endblock %}

{% block body %}

    <h1 class="page-header">{{ entity_name }} list</h1>

    {% include 'admin/flashes.html.twig' %}

    {% if current_filters|length %}
        <div class="alert alert-secondary" role="alert">
            <i class="fa fa-filter"></i> Filters:
            {% for field, filter in current_filters %}
                <span class="badge badge-secondary">{{ field }}: {{ filter }}</span>
            {% endfor %}
            |
            <a href="{{ path('admin_reset_filter', {'model': model}) }}"><i class="fa fa-times"></i> reset all</a>
        </div>
    {% endif %}

    <table class="table table-striped">
        <tr>
            {% for query_field, params in list_fields %}
                {% if params.sortable %}
                    <th{% if pagination.isSorted(query_field) %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, params.title, params.sorting_field) }}
                    </th>
                {% else %}
                    <th>{{ params.title }}</th>
                {% endif %}
            {% endfor %}
            {# sorting of properties based on query components #}
            {#<th{% if pagination.isSorted('a.username') %} class="sorted"{% endif %}>#}
                {#{{ knp_pagination_sortable(pagination, 'Name', 'user.username') }}#}
            {#</th>#}
            {#<th{% if pagination.isSorted('a.email') %} class="sorted"{% endif %}>#}
                {#{{ knp_pagination_sortable(pagination, 'Email', 'user.email') }}#}
            {#</th>#}
            {#<th>Active?</th>#}
            {#<th>Superadmin?</th>#}
            <th>Actions</th>
        </tr>

        {# table body #}
        {% for row in pagination %}
            <tr>
                {% for query_field, params in list_fields %}
                    <td>{{ attribute(row, params.row_field) }}</td>
                {% endfor %}
                {#<td> <a href="{{ path('admin_user_edit', { 'id': row.id }) }}">{{ row.username }}</a></td>#}
                <td>
                    <a class="btn btn-sm btn-success" href="{{ path('admin_' ~ model ~ '_edit', { 'id': row.id }) }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i> edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
        <div class="count">
            Total rows: {{ pagination.getTotalItemCount }}
        </div>
    </div>

    <p>
        <a class="btn btn-success" href="{{ path('admin_' ~ model ~ '_new') }}">
            <span class="fa fa-plus" aria-hidden="true"></span> Create a new {{ model }}</a>
    </p>
{% endblock %}


{% block filter_form %}
    {% include 'admin/common/filter_form.html.twig' with {'filter_form': filter_form} %}
{% endblock %}
