<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fa fa-dashboard"></i> <a href="{{ path('admin_dashboard') }}"> Dashboard</a>
    </li>
    <li class="breadcrumb-item">
        <i class="fa fa-table"></i> <a href="{{ path('admin_' ~ model ~ '_index') }}"> {{ entity_name }}</a>
    </li>
    <li class="breadcrumb-item active">
        <i class="fa fa-pencil"></i> {{ last }}
    </li>
</ol>