{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'layout_admin.html.twig' %}

{% block title %}
    Edit {{ model }} :: admin
{% endblock %}

{% block breadcrumbs %}
    {% include 'admin/breadcrumb.html.twig' with {'last': 'Edit "' ~ row ~ '"'} %}
{% endblock %}

{% block body %}
    <h1>{{ entity_name }} edit</h1>

    {% include 'admin/flashes.html.twig' %}

    {{ form_start(form) }}
        {{ form_row(form.category) }}
        {{ form_row(form.name) }}
        {{ form_row(form.price) }}
        {{ form_row(form.description) }}
        {{ form_row(form.isActive) }}
        {#{{ form_row(form.pic) }}#}

    <div class="form-group row">
        {{ form_label(form.picFile) }}
        <div class="col-sm-10">
            {{ form_widget(form.picFile) }}
            {% if row.pic %}
                <a data-fancybox="gallery" target="_blank" href="{{ asset('uploads/pics/' ~ row.pic) }}"><img
                            src="{{ asset('uploads/pics/' ~ row.pic) | imagine_filter('thumb_square_50') }}" /></a>
            {% endif %}
        </div>
    </div>

    {#<div class="form-group-row">#}
        {#{{ form_errors(form.pic) }}#}
        {#{{ form_label(form.pic) }}#}
        {#<div class="col-sm-9">#}
            {#{{ form_widget(form.pic) }}#}
            {#{% if row.pic %}#}
                {#<a data-fancybox="gallery" target="_blank" href="{{ asset('uploads/pics/' ~ row.pic) }}"><img#}
                            {#src="{{ asset('uploads/pics/' ~ row.pic) | imagine_filter('thumb_square_50') }}" /></a>#}
            {#{% endif %}#}
        {#</div>#}
    {#</div>#}

        <a class="btn btn-primary" href="{{ path('admin_' ~ model ~ '_index') }}"><i class="fa fa-list"></i> Back to the list</a>
        <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Update</button>

    {{ form_end(form) }}

    <div class="text-right">
        {{ form_start(delete_form) }}
        <button class="btn btn-danger delete-button" type="submit"><i class="fa fa-exclamation"></i> Delete</button>
        {{ form_end(delete_form) }}
    </div>

{% endblock %}
