{% extends 'layout_admin.html.twig' %}

{% block title %}
    Pages :: admin
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fa fa-dashboard"></i> <a href="{{ path('admin_dashboard') }}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
        <i class="fa fa-table"></i> Pages
    </li>
</ol>
{% endblock %}

{% block body %}

    <h1 class="page-header">Pages list</h1>

    {% include 'admin/flashes.html.twig' %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% include 'admin/page/page_sort_column.html.twig' with
                    {'field': 'id', 'title': 'ID'} %}</th>
            <th>
                {% include 'admin/page/page_sort_column.html.twig' with
                    {'field': 'name', 'title': 'Name'} %}</th>
            <th>
                {% include 'admin/page/page_sort_column.html.twig' with
                    {'field': 'slug', 'title': 'Slug'} %}
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td><a href="{{ path('admin_page_show', { 'id': page.id }) }}">{{ page.id }}</a></td>
                <td><a href="{{ path('admin_page_edit', { 'id': page.id }) }}">{{ page.name }}</a></td>
                <td>{{ page.slug }}</td>
                <td>
                    <a class="btn btn-sm btn-success" href="{{ path('admin_page_edit', { 'id': page.id }) }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i> edit</a>
                    <a class="btn btn-sm btn-info" href="{{ path('admin_page_show', { 'id': page.id }) }}">
                        <i class="fa fa-search" aria-hidden="true"></i> show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a class="btn btn-success" href="{{ path('admin_page_new') }}">
            <span class="fa fa-plus" aria-hidden="true"></span> Create a new page</a>
    </p>
{% endblock %}

{% form_theme filter_form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block filter_form %}
    {{ form(filter_form, {'attr': {'id': 'item_filter'}}) }}
{% endblock %}
