{% if app.request.get('sort_by') is defined and app.request.get('sort_by') == field
    and app.request.get('order') is defined %}
    {% set order = app.request.get('order') == 'asc' ? 'desc' : 'asc' %}
    {% set order_defined = true %}
{% else %}
    {% set order = 'asc' %}
    {% set order_defined = false %}
{% endif %}

<a href="{{ path('admin_page_index', {'sort_by': field, 'order': order}) }}">{{ title|raw }}
    {% if order_defined %}<i class="fa fa-sort-{{ order }}" aria-hidden="true"></i>{% endif %}
</a>