{% extends 'layout_admin.html.twig' %}

{% block body %}
    <h1>Page</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ page.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ page.slug }}</td>
            </tr>
            <tr>
                <th>Announce</th>
                <td>{{ page.announce }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ page.content|raw }}</td>
            </tr>

        </tbody>
    </table>

    <p>
    <ul class="nav nav-pills">
        <li>
            <a class="btn btn-sm btn-primary"  href="{{ path('admin_page_index') }}">Back to the list</a>
        </li>
        <li>
            <a class="btn btn-sm btn-success"  href="{{ path('admin_page_edit', { 'id': page.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-sm btn-danger"  type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </p>
{% endblock %}
